{{ define "main" }}

<section class="section gallery">
  <div class="container">
    <!-- Group leaders section -->
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>Group Leaders</h1>
      </div>
      <!-- Phantom block to center leaders -->
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4"><div class="block"></div></div> 
      {{ range (where .Site.RegularPages "Section" "people") }}
      {{ if eq .Params.categories "leader" }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block">
          <div class="gallery-overlay">
            <a href="{{ .Permalink }}" class="gallery-popup">
              <i class="tf-ion-plus-round"></i>
            </a>
          </div>
          <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
        </div>
        <div class="product-info">
          <p style="margin-bottom:.2cm;"></p>
          <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
          <p class="price">{{.Params.summary}}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<section class="section gallery">
  <div class="container">
    <!-- Students section -->
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>Students</h1>
      </div>
      {{ range (where .Site.RegularPages "Section" "people") }}
      {{ if eq .Params.categories "student" }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block">
          <div class="gallery-overlay">
            <a href="{{ .Permalink }}" class="gallery-popup">
              <i class="tf-ion-plus-round"></i>
            </a>
          </div>
          <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
        </div>
        <div class="product-info">
          <p style="margin-bottom:.2cm;"></p>
          <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
          <p class="price">{{.Params.summary}}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>
<section class="section gallery">
  <div class="container">
    <!-- Alumni section -->
    <div class="row">
      <div class="col-12 text-center mb-5">
        <h1>Alumni</h1>
      </div>
      {{ range (where .Site.RegularPages "Section" "people") }}
      {{ if eq .Params.categories "alumni" }}
      <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
        <div class="block">
          <div class="gallery-overlay">
            <a href="{{ .Permalink }}" class="gallery-popup">
              <i class="tf-ion-plus-round"></i>
            </a>
          </div>
          <img class="img-fluid" src="{{range first 1 .Params.images}}{{.|absURL}}{{end}}" alt="{{.Title}}">
        </div>
        <div class="product-info">
          <p style="margin-bottom:.2cm;"></p>
          <h4 class="mb-2"><a href="{{.Permalink}}" class="link-title">{{.Title}}</a></h4>
          <p class="price">{{.Params.summary}}</p>
        </div>
      </div>
      {{ end }}
      {{ end }}
    </div>
  </div>
</section>

{{ end }}
